In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("raw_data.csv")

In [3]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [4]:
#Q1. insert 9th index.
df.loc[9]=[210,"Jim Carry","01/01/1970","jimcarry@gmail.com","Male","Amazon","USA",12349.556,2365]
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [5]:
#Q2. add email at 3,6 position
df.at[3,'email']= 'abc@gmail.com'
df.at[6,'email']= 'cdf@gmail.com'

In [6]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,abc@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,cdf@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [7]:
#Q3. handle missing values
df['Country'].unique()

array(['India', 'USA', 'UAS', 'Canada', nan, 'Russia'], dtype=object)

In [8]:
df["Country"].fillna(value=df["Country"].mode()[0],inplace=True)

In [9]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,abc@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,cdf@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [10]:
df['Country'].replace('UAS', 'USA', inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,abc@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,cdf@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            16 non-null     object
 8   Income.2            18 non-null     float64
dtypes: float64(2), object(7)
memory usage: 1.5+ KB

In [12]:
df['Income.1'] = df['Income.1'].str.replace('$','')

C:\Users\Prashant Pathak\AppData\Local\Temp\ipykernel_6292\2869525772.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Income.1'] = df['Income.1'].str.replace('$','')

In [13]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,abc@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,,952.0
6,207.0,Modesta Batterson,3/28/2018,cdf@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,NaN,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [14]:
df['Income.1'] = df['Income.1'].apply(pd.to_numeric, errors='coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     float64
 8   Income.2            18 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [16]:
df["Income.1"].fillna(value=df["Income.1"].mean(),inplace=True)
df["Income.2"].fillna(value=df["Income.2"].mean(),inplace=True)

In [17]:
df["Total_income"]=df["Income.1"]+df["Income.2"]

In [18]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47005.638081
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54894.687948
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43701.240728
3,204.0,Graeme Croisier,9/29/2018,abc@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47441.630879
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59433.495560
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44419.240728
6,207.0,Modesta Batterson,3/28/2018,cdf@gmail.com,Female,Intel,India,43467.240728,32.000000,43499.240728
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45368.240728
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29728.157599
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,2365.000000,45832.240728
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48039.174780
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44753.240728
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56930.647910
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44237.473128
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44035.240728
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46034.765191
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56732.962157
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35687.509995
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9053.351970
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45031.078707

# 15 SEP 2023
Q1. Bring DOB in the same format

q2. Split full name into first and last name in to two columns

q3. move columns first and last name to the first and second position

q4. print country and companywise average salary of employees.

In [19]:
df['DOB'] = pd.to_datetime(df['DOB'], errors='coerce')

In [20]:
df['DOB'] = df['DOB'].dt.strftime("%m/%d/%Y")
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income
0,201.0,Salim Pound,02/12/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47005.638081
1,202.0,Madelene Lutas,09/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54894.687948
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43701.240728
3,204.0,Graeme Croisier,09/29/2018,abc@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47441.630879
4,205.0,Jillana Physic,04/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59433.495560
5,206.0,Anetta Yokelman,04/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44419.240728
6,207.0,Modesta Batterson,03/28/2018,cdf@gmail.com,Female,Intel,India,43467.240728,32.000000,43499.240728
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45368.240728
8,209.0,Nomi Warn,01/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29728.157599
9,210.0,Jim Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,2365.000000,45832.240728
10,211.0,Charleen Auden,04/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48039.174780
11,212.0,Dame Povele,06/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44753.240728
12,213.0,Jesse Engelbrecht,04/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56930.647910
13,214.0,Camey Barensen,08/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44237.473128
14,215.0,Alexandro Sember,04/08/2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44035.240728
15,216.0,Myrtia Towne,02/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46034.765191
16,217.0,Shay Cakebread,09/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56732.962157
17,218.0,Nerta McCutheon,01/07/2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35687.509995
18,219.0,Patin Mitchely,05/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9053.351970
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45031.078707

In [21]:
df['First Name']=df['Employee Full Name'].str.split().str[0]
df['Last Name']=df['Employee Full Name'].str.split().str[-1]

In [22]:
df.drop(['Employee Full Name'],axis=1)

,id,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income,First Name,Last Name
0,201.0,02/12/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47005.638081,Salim,Pound
1,202.0,09/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54894.687948,Madelene,Lutas
2,203.0,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43701.240728,Dolli,Swanbourne
3,204.0,09/29/2018,abc@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47441.630879,Graeme,Croisier
4,205.0,04/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59433.495560,Jillana,Physic
5,206.0,04/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44419.240728,Anetta,Yokelman
6,207.0,03/28/2018,cdf@gmail.com,Female,Intel,India,43467.240728,32.000000,43499.240728,Modesta,Batterson
7,208.0,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45368.240728,Melina,Boon
8,209.0,01/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29728.157599,Nomi,Warn
9,210.0,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,2365.000000,45832.240728,Jim,Carry
10,211.0,04/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48039.174780,Charleen,Auden
11,212.0,06/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44753.240728,Dame,Povele
12,213.0,04/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56930.647910,Jesse,Engelbrecht
13,214.0,08/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44237.473128,Camey,Barensen
14,215.0,04/08/2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44035.240728,Alexandro,Sember
15,216.0,02/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46034.765191,Myrtia,Towne
16,217.0,09/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56732.962157,Shay,Cakebread
17,218.0,01/07/2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35687.509995,Nerta,McCutheon
18,219.0,05/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9053.351970,Patin,Mitchely
19,220.0,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45031.078707,Malinda,Heistermann

In [23]:
df.columns

Index(['id', 'Employee Full Name', 'DOB', 'email', 'gender', 'Company',
       'Country', 'Income.1', 'Income.2', 'Total_income', 'First Name',
       'Last Name'],
      dtype='object')

In [24]:
df=df[['id','First Name', 'Last Name', 'DOB', 'email', 'gender', 'Company',
       'Country', 'Income.1', 'Income.2', 'Total_income']]

In [25]:
df

,id,First Name,Last Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income
0,201.0,Salim,Pound,02/12/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47005.638081
1,202.0,Madelene,Lutas,09/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54894.687948
2,203.0,Dolli,Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43701.240728
3,204.0,Graeme,Croisier,09/29/2018,abc@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47441.630879
4,205.0,Jillana,Physic,04/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59433.495560
5,206.0,Anetta,Yokelman,04/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44419.240728
6,207.0,Modesta,Batterson,03/28/2018,cdf@gmail.com,Female,Intel,India,43467.240728,32.000000,43499.240728
7,208.0,Melina,Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45368.240728
8,209.0,Nomi,Warn,01/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29728.157599
9,210.0,Jim,Carry,01/01/1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,2365.000000,45832.240728
10,211.0,Charleen,Auden,04/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48039.174780
11,212.0,Dame,Povele,06/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44753.240728
12,213.0,Jesse,Engelbrecht,04/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56930.647910
13,214.0,Camey,Barensen,08/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44237.473128
14,215.0,Alexandro,Sember,04/08/2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44035.240728
15,216.0,Myrtia,Towne,02/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46034.765191
16,217.0,Shay,Cakebread,09/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56732.962157
17,218.0,Nerta,McCutheon,01/07/2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35687.509995
18,219.0,Patin,Mitchely,05/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9053.351970
19,220.0,Malinda,Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45031.078707

In [28]:
df_grouped = df.groupby('Country').mean()[['Total_income']].sort_values('Total_income', ascending=False)

In [30]:
# Avg total income of each country
df_grouped

         Total_income
Country
Canada   49536.583972
India    46992.703766
USA      44439.100356
Russia   32706.557135